In [220]:
import requests
import pandas as pd

api_key = 'YF0US57AOZXKGIGD'

In [221]:
class script_data:
    def __init__(self, symbol):
        self.symbol = symbol
        # self.interval = interval
        self.url = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={symbol}&interval=5min&apikey={api_key}'

    def fetch_intraday_data(self):
        response = requests.get(self.url)
        if response.status_code == 200:
            d = response.json()
            del d['Meta Data']
            return d
        else:
            raise Exception(
                f"Failed to fetch data. Response code: {response.status_code}")
    
    def convert_intraday_data(self, script):
        data = {}
        data["sno"] = []
        data["timestamp"] = []
        data["open"] = []
        data["high"] = []
        data["low"] = []
        data["close"] = []
        data["volume"] = []
        index = 1
        for key, value in script.items():
            if key.startswith('Time Series (5min)'):
                for key, prices in value.items():
                    data["sno"].append(index)
                    index+=1
                    data["timestamp"].append(str(key))
                    data["open"].append(float(prices["1. open"]))
                    data["high"].append(float(prices["2. high"]))
                    data["low"].append(float(prices["3. low"]))
                    data["close"].append(float(prices["4. close"]))
                    data["volume"].append(int(prices["5. volume"]))

        df = pd.DataFrame(data)

        return df
    
    def __getitem__(self, item):
        return self.df[item]
    
    def __setitem__(self, key, value):
        self.df[key] = value
    
    def __contains__(self, item):
        return item in self.df.columns


    def indicator1(df, timeperiod):
        result = df.copy()
        result["indicator"] = result["close"].rolling(window=timeperiod).mean()
        return result[["timestamp", "indicator"]]

In [222]:
sd = script_data(symbol="GOOGL")
data = sd.fetch_intraday_data()
print(data)

{'Time Series (5min)': {'2023-02-13 20:00:00': {'1. open': '94.3500', '2. high': '94.4000', '3. low': '94.2800', '4. close': '94.4000', '5. volume': '13261'}, '2023-02-13 19:55:00': {'1. open': '94.3500', '2. high': '94.4000', '3. low': '94.3500', '4. close': '94.3500', '5. volume': '6407'}, '2023-02-13 19:50:00': {'1. open': '94.2800', '2. high': '94.3900', '3. low': '94.2800', '4. close': '94.3500', '5. volume': '2081'}, '2023-02-13 19:45:00': {'1. open': '94.4200', '2. high': '94.4400', '3. low': '94.2900', '4. close': '94.2900', '5. volume': '2133'}, '2023-02-13 19:40:00': {'1. open': '94.4700', '2. high': '94.4700', '3. low': '94.3500', '4. close': '94.3500', '5. volume': '917'}, '2023-02-13 19:35:00': {'1. open': '94.3000', '2. high': '94.3400', '3. low': '94.2900', '4. close': '94.3400', '5. volume': '1474'}, '2023-02-13 19:30:00': {'1. open': '94.2800', '2. high': '94.3000', '3. low': '94.2800', '4. close': '94.3000', '5. volume': '609'}, '2023-02-13 19:25:00': {'1. open': '94.3600', '2. high': '94.3900', '3. low': '94.3000', '4. close': '94.3000', '5. volume': '1545'}, '2023-02-13 19:20:00': {'1. open': '94.3000', '2. high': '94.3000', '3. low': '94.2900', '4. close': '94.2900', '5. volume': '1154'}, '2023-02-13 19:15:00': {'1. open': '94.3000', '2. high': '94.3000', '3. low': '94.2999', '4. close': '94.3000', '5. volume': '2019'}, '2023-02-13 19:10:00': {'1. open': '94.3000', '2. high': '94.3000', '3. low': '94.2700', '4. close': '94.3000', '5. volume': '1495'}, '2023-02-13 19:05:00': {'1. open': '94.2900', '2. high': '94.3000', '3. low': '94.2900', '4. close': '94.3000', '5. volume': '868'}, '2023-02-13 19:00:00': {'1. open': '94.2000', '2. high': '94.2700', '3. low': '94.2000', '4. close': '94.2700', '5. volume': '2215'}, '2023-02-13 18:55:00': {'1. open': '94.2200', '2. high': '94.3000', '3. low': '94.2000', '4. close': '94.2200', '5. volume': '3176'}, '2023-02-13 18:50:00': {'1. open': '94.3000', '2. high': '94.3000', '3. low': '94.2100', '4. close': '94.2500', '5. volume': '8872'}, '2023-02-13 18:45:00': {'1. open': '94.3000', '2. high': '94.3300', '3. low': '94.2100', '4. close': '94.3100', '5. volume': '2464'}, '2023-02-13 18:40:00': {'1. open': '94.4900', '2. high': '94.4900', '3. low': '94.3600', '4. close': '94.3600', '5. volume': '1103'}, '2023-02-13 18:35:00': {'1. open': '94.5200', '2. high': '94.5200', '3. low': '94.5200', '4. close': '94.5200', '5. volume': '820'}, '2023-02-13 18:30:00': {'1. open': '94.5299', '2. high': '94.5300', '3. low': '94.4500', '4. close': '94.5300', '5. volume': '4211'}, '2023-02-13 18:25:00': {'1. open': '94.5001', '2. high': '94.5300', '3. low': '94.5000', '4. close': '94.5300', '5. volume': '1553'}, '2023-02-13 18:20:00': {'1. open': '94.5100', '2. high': '94.5100', '3. low': '94.5000', '4. close': '94.5100', '5. volume': '1289'}, '2023-02-13 18:15:00': {'1. open': '94.5000', '2. high': '94.5000', '3. low': '94.4501', '4. close': '94.4800', '5. volume': '2113'}, '2023-02-13 18:10:00': {'1. open': '94.5000', '2. high': '94.5000', '3. low': '94.4900', '4. close': '94.4900', '5. volume': '2088'}, '2023-02-13 18:05:00': {'1. open': '94.5100', '2. high': '94.5200', '3. low': '94.5000', '4. close': '94.5100', '5. volume': '6981'}, '2023-02-13 18:00:00': {'1. open': '94.5100', '2. high': '94.5100', '3. low': '94.5000', '4. close': '94.5100', '5. volume': '1968'}, '2023-02-13 17:55:00': {'1. open': '94.5200', '2. high': '94.5200', '3. low': '94.5000', '4. close': '94.5000', '5. volume': '3223'}, '2023-02-13 17:50:00': {'1. open': '94.5400', '2. high': '94.5500', '3. low': '94.5200', '4. close': '94.5200', '5. volume': '4267'}, '2023-02-13 17:45:00': {'1. open': '94.5600', '2. high': '94.5600', '3. low': '94.5300', '4. close': '94.5300', '5. volume': '12417'}, '2023-02-13 17:40:00': {'1. open': '94.5500', '2. high': '94.5800', '3. low': '94.5500', '4. close': '94.5500', '5. volume': '1460'}, '2023-02-13 17:35:00': {'1. open': '94.5500', '2. high': '94.6013', '3. low': '94.5500', '4. close': '94.5500', '5. volume': '2553'}, '2023-02-13 17:30:00': {'1. open': '94.6100', '2. high': '94.6100', '3. low': '94.6000', '4. close': '94.6000', '5. volume': '3540'}, '2023-02-13 17:25:00': {'1. open': '94.6000', '2. high': '94.6000', '3. low': '94.5600', '4. close': '94.5600', '5. volume': '1921'}, '2023-02-13 17:20:00': {'1. open': '94.5501', '2. high': '94.6000', '3. low': '94.5500', '4. close': '94.6000', '5. volume': '6113'}, '2023-02-13 17:15:00': {'1. open': '94.6300', '2. high': '94.6300', '3. low': '94.5800', '4. close': '94.6000', '5. volume': '2192'}, '2023-02-13 17:10:00': {'1. open': '94.5900', '2. high': '94.6100', '3. low': '94.5500', '4. close': '94.6100', '5. volume': '8500'}, '2023-02-13 17:05:00': {'1. open': '94.5700', '2. high': '94.5900', '3. low': '94.5504', '4. close': '94.5700', '5. volume': '4052'}, '2023-02-13 17:00:00': {'1. open': '94.5700', '2. high': '94.5797', '3. low': '94.5600', '4. close': '94.5600', '5. volume': '725'}, '2023-02-13 16:55:00': {'1. open': '94.6300', '2. high': '94.6300', '3. low': '94.5700', '4. close': '94.5900', '5. volume': '6140'}, '2023-02-13 16:50:00': {'1. open': '94.5400', '2. high': '94.6200', '3. low': '94.5400', '4. close': '94.6200', '5. volume': '10970'}, '2023-02-13 16:45:00': {'1. open': '94.5699', '2. high': '94.5700', '3. low': '94.5600', '4. close': '94.5600', '5. volume': '37746'}, '2023-02-13 16:40:00': {'1. open': '94.4999', '2. high': '94.5600', '3. low': '94.4999', '4. close': '94.5600', '5. volume': '4754'}, '2023-02-13 16:35:00': {'1. open': '94.5100', '2. high': '94.5300', '3. low': '94.4900', '4. close': '94.4900', '5. volume': '4891'}, '2023-02-13 16:30:00': {'1. open': '94.5100', '2. high': '94.6100', '3. low': '94.4900', '4. close': '94.5100', '5. volume': '27168'}, '2023-02-13 16:25:00': {'1. open': '94.5699', '2. high': '94.5699', '3. low': '94.5100', '4. close': '94.5200', '5. volume': '5324'}, '2023-02-13 16:20:00': {'1. open': '94.5900', '2. high': '94.5900', '3. low': '94.5300', '4. close': '94.5300', '5. volume': '5807'}, '2023-02-13 16:15:00': {'1. open': '94.6000', '2. high': '94.6100', '3. low': '94.5200', '4. close': '94.5600', '5. volume': '902180'}, '2023-02-13 16:10:00': {'1. open': '94.6100', '2. high': '94.6200', '3. low': '94.5100', '4. close': '94.6200', '5. volume': '19966'}, '2023-02-13 16:05:00': {'1. open': '94.6200', '2. high': '94.7000', '3. low': '94.5100', '4. close': '94.6100', '5. volume': '1001952'}, '2023-02-13 16:00:00': {'1. open': '94.3750', '2. high': '94.6500', '3. low': '94.3700', '4. close': '94.6300', '5. volume': '1524700'}, '2023-02-13 15:55:00': {'1. open': '94.5300', '2. high': '94.5300', '3. low': '94.3500', '4. close': '94.3771', '5. volume': '859699'}, '2023-02-13 15:50:00': {'1. open': '94.5700', '2. high': '94.6300', '3. low': '94.4326', '4. close': '94.5599', '5. volume': '517767'}, '2023-02-13 15:45:00': {'1. open': '94.5650', '2. high': '94.6500', '3. low': '94.5000', '4. close': '94.5800', '5. volume': '456933'}, '2023-02-13 15:40:00': {'1. open': '94.5200', '2. high': '94.5800', '3. low': '94.4500', '4. close': '94.5600', '5. volume': '357913'}, '2023-02-13 15:35:00': {'1. open': '94.3900', '2. high': '94.5301', '3. low': '94.3800', '4. close': '94.5150', '5. volume': '356291'}, '2023-02-13 15:30:00': {'1. open': '94.4700', '2. high': '94.5400', '3. low': '94.3400', '4. close': '94.3900', '5. volume': '380070'}, '2023-02-13 15:25:00': {'1. open': '94.4150', '2. high': '94.4900', '3. low': '94.3200', '4. close': '94.4700', '5. volume': '408370'}, '2023-02-13 15:20:00': {'1. open': '94.3900', '2. high': '94.4500', '3. low': '94.3200', '4. close': '94.4200', '5. volume': '305778'}, '2023-02-13 15:15:00': {'1. open': '94.3200', '2. high': '94.4200', '3. low': '94.2900', '4. close': '94.3800', '5. volume': '297259'}, '2023-02-13 15:10:00': {'1. open': '94.3115', '2. high': '94.4100', '3. low': '94.2950', '4. close': '94.3200', '5. volume': '328711'}, '2023-02-13 15:05:00': {'1. open': '94.2701', '2. high': '94.3642', '3. low': '94.1000', '4. close': '94.3200', '5. volume': '524444'}, '2023-02-13 15:00:00': {'1. open': '94.2550', '2. high': '94.2800', '3. low': '94.1599', '4. close': '94.2781', '5. volume': '292583'}, '2023-02-13 14:55:00': {'1. open': '94.1500', '2. high': '94.3200', '3. low': '94.1200', '4. close': '94.2680', '5. volume': '382611'}, '2023-02-13 14:50:00': {'1. open': '94.3492', '2. high': '94.3850', '3. low': '94.1400', '4. close': '94.1519', '5. volume': '424743'}, '2023-02-13 14:45:00': {'1. open': '94.4785', '2. high': '94.4799', '3. low': '94.2100', '4. close': '94.3500', '5. volume': '407030'}, '2023-02-13 14:40:00': {'1. open': '94.4000', '2. high': '94.6050', '3. low': '94.3800', '4. close': '94.4700', '5. volume': '290193'}, '2023-02-13 14:35:00': {'1. open': '94.4700', '2. high': '94.5150', '3. low': '94.3221', '4. close': '94.4000', '5. volume': '765003'}, '2023-02-13 14:30:00': {'1. open': '94.5300', '2. high': '94.5700', '3. low': '94.4500', '4. close': '94.4600', '5. volume': '333455'}, '2023-02-13 14:25:00': {'1. open': '94.5600', '2. high': '94.6300', '3. low': '94.4900', '4. close': '94.5300', '5. volume': '279611'}, '2023-02-13 14:20:00': {'1. open': '94.5601', '2. high': '94.6300', '3. low': '94.5000', '4. close': '94.5550', '5. volume': '220526'}, '2023-02-13 14:15:00': {'1. open': '94.6450', '2. high': '94.6899', '3. low': '94.4800', '4. close': '94.5700', '5. volume': '315008'}, '2023-02-13 14:10:00': {'1. open': '94.7600', '2. high': '94.7600', '3. low': '94.6000', '4. close': '94.6440', '5. volume': '299273'}, '2023-02-13 14:05:00': {'1. open': '94.8300', '2. high': '94.8700', '3. low': '94.7200', '4. close': '94.7600', '5. volume': '327017'}, '2023-02-13 14:00:00': {'1. open': '94.7600', '2. high': '94.8499', '3. low': '94.7200', '4. close': '94.8250', '5. volume': '245862'}, '2023-02-13 13:55:00': {'1. open': '94.6700', '2. high': '94.8300', '3. low': '94.6650', '4. close': '94.7542', '5. volume': '281418'}, '2023-02-13 13:50:00': {'1. open': '94.5400', '2. high': '94.7400', '3. low': '94.5000', '4. close': '94.6700', '5. volume': '297944'}, '2023-02-13 13:45:00': {'1. open': '94.8700', '2. high': '94.8800', '3. low': '94.5300', '4. close': '94.5499', '5. volume': '356341'}, '2023-02-13 13:40:00': {'1. open': '94.8550', '2. high': '94.9600', '3. low': '94.7400', '4. close': '94.8650', '5. volume': '411044'}, '2023-02-13 13:35:00': {'1. open': '94.8700', '2. high': '94.9500', '3. low': '94.8400', '4. close': '94.8550', '5. volume': '505887'}, '2023-02-13 13:30:00': {'1. open': '94.4250', '2. high': '94.8750', '3. low': '94.4250', '4. close': '94.8750', '5. volume': '465781'}, '2023-02-13 13:25:00': {'1. open': '94.3700', '2. high': '94.4500', '3. low': '94.3100', '4. close': '94.4250', '5. volume': '188791'}, '2023-02-13 13:20:00': {'1. open': '94.4000', '2. high': '94.4600', '3. low': '94.3700', '4. close': '94.3700', '5. volume': '221957'}, '2023-02-13 13:15:00': {'1. open': '94.3010', '2. high': '94.4250', '3. low': '94.2100', '4. close': '94.4100', '5. volume': '310775'}, '2023-02-13 13:10:00': {'1. open': '94.4550', '2. high': '94.5050', '3. low': '94.2950', '4. close': '94.3000', '5. volume': '291374'}, '2023-02-13 13:05:00': {'1. open': '94.5450', '2. high': '94.5600', '3. low': '94.4200', '4. close': '94.4500', '5. volume': '361523'}, '2023-02-13 13:00:00': {'1. open': '94.7100', '2. high': '94.7100', '3. low': '94.5400', '4. close': '94.5450', '5. volume': '370224'}, '2023-02-13 12:55:00': {'1. open': '94.6500', '2. high': '94.7800', '3. low': '94.6200', '4. close': '94.7100', '5. volume': '501501'}, '2023-02-13 12:50:00': {'1. open': '94.6300', '2. high': '94.7200', '3. low': '94.5700', '4. close': '94.6500', '5. volume': '438557'}, '2023-02-13 12:45:00': {'1. open': '94.7350', '2. high': '94.7700', '3. low': '94.6200', '4. close': '94.6300', '5. volume': '547053'}, '2023-02-13 12:40:00': {'1. open': '94.6100', '2. high': '94.8400', '3. low': '94.5700', '4. close': '94.7400', '5. volume': '496547'}, '2023-02-13 12:35:00': {'1. open': '94.4300', '2. high': '94.6450', '3. low': '94.3400', '4. close': '94.6100', '5. volume': '448441'}, '2023-02-13 12:30:00': {'1. open': '94.4689', '2. high': '94.5500', '3. low': '94.3800', '4. close': '94.4200', '5. volume': '461589'}, '2023-02-13 12:25:00': {'1. open': '94.4600', '2. high': '94.5000', '3. low': '94.3750', '4. close': '94.4650', '5. volume': '711266'}, '2023-02-13 12:20:00': {'1. open': '94.4000', '2. high': '94.4900', '3. low': '94.3350', '4. close': '94.4500', '5. volume': '348550'}, '2023-02-13 12:15:00': {'1. open': '94.2900', '2. high': '94.4300', '3. low': '94.2700', '4. close': '94.3950', '5. volume': '311692'}, '2023-02-13 12:10:00': {'1. open': '94.2900', '2. high': '94.3600', '3. low': '94.2700', '4. close': '94.2978', '5. volume': '472129'}, '2023-02-13 12:05:00': {'1. open': '94.2900', '2. high': '94.3100', '3. low': '94.2200', '4. close': '94.2900', '5. volume': '398928'}, '2023-02-13 12:00:00': {'1. open': '94.2701', '2. high': '94.3100', '3. low': '94.2400', '4. close': '94.3000', '5. volume': '467125'}, '2023-02-13 11:55:00': {'1. open': '94.2500', '2. high': '94.3000', '3. low': '94.1200', '4. close': '94.2725', '5. volume': '553289'}, '2023-02-13 11:50:00': {'1. open': '94.3064', '2. high': '94.3600', '3. low': '94.2300', '4. close': '94.2500', '5. volume': '503563'}, '2023-02-13 11:45:00': {'1. open': '94.0300', '2. high': '94.4100', '3. low': '94.0200', '4. close': '94.3021', '5. volume': '611545'}}}

In [223]:
df = sd.convert_intraday_data(data)
print(df)

    sno            timestamp     open   high    low    close  volume
0     1  2023-02-13 20:00:00  94.3500  94.40  94.28  94.4000   13261
1     2  2023-02-13 19:55:00  94.3500  94.40  94.35  94.3500    6407
2     3  2023-02-13 19:50:00  94.2800  94.39  94.28  94.3500    2081
3     4  2023-02-13 19:45:00  94.4200  94.44  94.29  94.2900    2133
4     5  2023-02-13 19:40:00  94.4700  94.47  94.35  94.3500     917
..  ...                  ...      ...    ...    ...      ...     ...
95   96  2023-02-13 12:05:00  94.2900  94.31  94.22  94.2900  398928
96   97  2023-02-13 12:00:00  94.2701  94.31  94.24  94.3000  467125
97   98  2023-02-13 11:55:00  94.2500  94.30  94.12  94.2725  553289
98   99  2023-02-13 11:50:00  94.3064  94.36  94.23  94.2500  503563
99  100  2023-02-13 11:45:00  94.0300  94.41  94.02  94.3021  611545

[100 rows x 7 columns]

In [224]:
sd.df = df
print("open" in sd)  # Output: True

True

In [225]:


result = indicator1(df, timeperiod=5)
print(result)

              timestamp  indicator
0   2023-02-13 20:00:00        NaN
1   2023-02-13 19:55:00        NaN
2   2023-02-13 19:50:00        NaN
3   2023-02-13 19:45:00        NaN
4   2023-02-13 19:40:00   94.34800
..                  ...        ...
95  2023-02-13 12:05:00   94.37956
96  2023-02-13 12:00:00   94.34656
97  2023-02-13 11:55:00   94.31106
98  2023-02-13 11:50:00   94.28206
99  2023-02-13 11:45:00   94.28292

[100 rows x 2 columns]

In [226]:
print(df.columns)

Index(['sno', 'timestamp', 'open', 'high', 'low', 'close', 'volume'], dtype='object')